.container {
    width: 400px;
    height: 250px;
    margin: 50px;
    padding: 20px;
    background-color: orange;
    box-sizing: border-box;
    position: relative; /*기준이 될 수 있는 속성과 값이 추가되어져 있으므로 배치 가능하게 함*/
}

.container .item{
    width: 100px;
    height: 100px;
    background-color: royalblue;
}

.container .item:nth-child(1){
    position: absolute; /*absolute : 부모요소를 기준으로 배치하겠다.(부모요소에 포지션이 없으면
    적용이 되는 속성을 찾아서 올라간다. [.container에 포지션에 값이 있으므로 정확히 나온다.]*/
    left: 40px;
    bottom: 100px;
}

.container .item:nth-child(2){
    position: absolute;
    top: 20px;
    right: 100px;
}