/*https://heropy.blog/css/images/logo.png*/

.container .item{
    width: 200px;
    height: 100px;
    background-color: orange;
    margin : 10px;
    background-image: url("https://heropy.blog/css/images/logo.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: bottom left/*top bottom left right center*/
}